body {
    color: #222;
}

img {
    width:95px;
    height:37px;
    display: block;
}

table {
    border-spacing:0;
    border-collapse:collapse;
}

form {
    max-width: 572px;
}

td {
    vertical-align: top;
}

.gstl_0, .lst-t {
    height: 27px; 
    padding: 0px; 
}


.gbes#gbx1, .gbes#gbx2, .gbes#gbqlw, .gbesi#gb #gbx1, .gbesi#gb #gbx2, .gbesi#gb #gbqlw {
   height: 71px;
}

#gbx1, #gbx2 {
    background: #F1F1F1;
    background: -webkit-gradient(radial,100 36,0,100 -40,120,from(#FAFAFA),to(#F1F1F1)),#F1F1F1;
    border-bottom: 1px solid #666;
    border-color: #E5E5E5;
    height: 71px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 985;
    min-width: 980px;
}

.gbqff {
    max-width: 572px;
}


li.head, li.g, body, html, .std, .c h2, #mbEnd h2, h1 {
    font-size: small;
    font-family: arial,sans-serif;
}

.mw {
    max-width: 1197px;
}

.a, cite, cite a:link, cite a:visited, .cite, .cite:link, #mbEnd cite b, #tads cite b, #tadsb cite b, #tadsto cite b, #ans > i, .bc a:link {
   color: #093;
   font-style: normal;
}

ol, ul, li {
	border: 0;
    margin: 0;
    padding: 0;
}

ol li {
    list-style: none;
}

li {
	line-height: 1.2;
}

td {
    padding-left: 6px;
    vertical-align: top;
}

#content {
   margin-left: 14px;
   min-width: 833px;
   margin-left: 0;
   padding-top: 0;
}

#content {
    clear:both;
}


.ab_wrp {
    height: 57px;
    border-bottom: 1px solid #EBEBEB;
}

.ab_name, #ab_shopping {
    color: #DD4B39;
    font: 20px "Arial";
    margin-left: 15px;
    position: absolute;
    top: 17px;
}

.gbqlca {
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}


.resultStats, .ab_center_col {
	color: #999;
    font-size: 13px;
    margin-left: 149px;
    position: absolute;
    top: 23px;
    overflow: hidden;
    white-space: nowrap;
}

#appbar a {
    text-decoration: none;
}

.ab-wrapper {
	height: 57px;
    border-bottom: 1px solid #EBEBEB;
}

.gbqfwa {
    display: inline-block;
    width: 100%;
}

.gbqfqw {
    background: white;
    border: 1px solid #D9D9D9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    height: 27px;
}

.gbqfif, .gbqfsf {
    font: 16px arial,sans-serif;
}

.gsib_a {
    width: 100%;
    padding: 4px 6px 0;
}

.gbqfif, .gbqfsf {
    font: 16px arial,sans-serif;
}

.gsib_b {
    line-height: 27px;
    font-size: 16px;
    padding: 0 2px;
    white-space: nowrap;

}

.gsst_e {
    opacity: 0.55;
}

.gsok_a {
    background: url('images/keyboard.gif') no-repeat center;
    display: inline-block;
    height: 11px;
    line-height: 0;
    width: 19px;
}


.gs_lc0 {
    position: relative;
    border: none;
    padding: 0px;
    margin: -0.0625em 0px 0px;
    height: 1.25em;
    width: 100%;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D);
    background-color: transparent;
    position: absolute;
    z-index: 6;
    left: 0px;
    outline: none;
    background-position: initial initial;
}

.gbqfqw {
    background: white;
    border: 1px solid #D9D9D9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    height: 27px;
}

.gbqfwa {
    display: inline-block;
    width: 100%;
}

.gbqfb {
    background-color: #4D90FE;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
    background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
    background-image: linear-gradient(top,#4D90FE,#4787ED);
    border: 1px solid #3079ED;
}

.gbqfb, .gbqfba, .gbqfbb {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default !important;
    display: inline-block;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.search {
    margin: 0 15px;
    display: inline-block;
}

.gbes#gbx1, .gbes#gbx2, .gbes#gbqlw, .gbesi#gb #gbx1, .gbesi#gb #gbx2, .gbesi#gb #gbqlw {
    height: 71px;
}


.mw {
max-width: 1197px;
}

.recent {
	margin-top: 21px;
	position: relative;
}

.leftnav {
	margin-left: 0;
	background: #fff;
}

.msel {
	color: #DD4B39;
    cursor: pointer;
}

.msel .kls {
	border-left: 5px solid #DD4B39;
    padding-left: 11px;
}

.mitem, #showmodes {
	border-bottom: 1px solid transparent;
    line-height: 29px;
    opacity: 1.0;
}

.mitem > .kl, #more_link > .kl {
	color: #222;
}

.line-sep {
	border-bottom: 1px solid #EBEBEB;
    margin-bottom: 14px;
    margin-left: 10px;
    margin-right: 4px;
    margin-top: 14px;

}

.leftnav h2 {
	font-size: small;
    color: #767676;
    font-weight: normal;
    margin: 8px 0 0 8px;
    padding-left: 8px;
    width: 124px;
}

h3, .med {
    font-size: medium;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.leftnav li {
    display:block;
}

.tbt {
	font-size: 13px;
    line-height: 1.2;
}

.tbos, .tbots, .tbotu {
	color: #DD4B39;
}
.tbos, .tbots {
	font-weight: bold;
}

.tbou, .tbos, .tbots, .tbotu {
	margin-right: 8px;
    padding-left: 16px;
    padding-bottom: 3px;
    text-indent: -8px;
}

/* Center col */

.center-col {
    clear: both;
}


.center-col, #foot {
    margin-left: 132px;
    margin-right: 254px;
    padding: 0 8px;
    padding: 0 8px 0 8px;
}

#content #center_col, #content #foot, #content .ab_center_col {
    width: 528px;
}

.internet-result {
	padding-top: 6px;
}

li.g {
    margin-top: 0;
    margin-bottom: 20px;
}

.st, .ac {
    line-height: 1.24;

    overflow:hidden;
}


.mslg > td {
    padding-right: 6px;
    padding-top: 4px;
}

.mrf {
    padding-top: 6px;
}

a.fl:link, .fl a, .flt, a.flt, .gl a:link, a.mblink, .mblink b {
    color: #12C;
}

.flt, .flt u, a.fl {
    text-decoration: none;
}

a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active {
    color: #12C;
}